.navbar .navbar-brand {
  font-family: "Montserrat", sans-serif;
  font-weight: bolder;
  font-size: x-large;
}

.navbar .nav-item {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
.navbar .nav-item .dropdown button {
  font-family: "Roboto", sans-serif;
  font-weight: lighter;
  font-size: 20px;
}
#main-content {
  position: relative;
  min-height: 600px;
  background: url("../img/muhammad-rizwan-VnydpKiCDaY-unsplash\ \(4\)\ \(4\).jpg");
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
.dark-overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.4);
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.blockquote p {
  font-family: "Raleway", sans-serif;
  font-size: 40px;
}
.blockquote * {
  color: white;
}
body {
  overflow-x: hidden;
}
#aboutus-section h1 {
  font-family: "Roboto", sans-serif;
  

}
#aboutus-section p {
  font-size: large;

}
.carousel-control-next-icon,
.carousel-control-prev-icon {
  background-color: black;
  margin: 0;
}
#footer-head {
  font-weight: bolder;
  font-size: 20px;
  color: white;
  text-transform: uppercase;
}
#footer-head-content {
  color: white;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
}
.footer-copyright
{
  font-size: 10px;
}
.footer-copyright .lead
{
  font-size: 10px;
}

#contacts {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  text-decoration: none;
}
#quick-links {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

#service-section
{
  background-color: rgb(211,211,211);
  padding: 20px 10px 20px 10px;
}

#gallery-section {
  margin-top: 100px;
  min-height: 382px;
}
.container #gallery-head {
  padding-top: 30px;
  font-family: 'Oswald', sans-serif;
  font-size: 50px;
}

#showcase-content
{
  position: relative;
  min-height: 600px;
  background: url(../img/oie_2654716S2iuxh7o.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#job-posting-content
{
  background: rgba(70, 75, 71, 0.2);
  padding-top: 30px;
  
}
#job-posting-form .container
{
  box-shadow:         3px 3px 5px 6px #ccc;
  
}
label{
  font-weight: 500;
}
#image-display
{
  position: relative;
  min-height: 600px;
  background: url(../img/elena-de-soto-w423NnHFjFg-unsplash.jpg);
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;
}
#welcome-section
{
  background: rgba(70, 75, 71, 0.2);
}
.media:hover
{
  box-shadow:         3px 3px 5px 6px #ccc;
}
#events-content .media
{
  background-color: rgba(148, 147, 143, 0.3);
  /* rgba(124, 123, 106, 0.3); */
}

#events-content img{
	height: 200px;
	width: 200px;
}

#job-posting-form label
{
  font-size: larger;
}

.modal-title
{
  font-family: 'Poppins', sans-serif;
  letter-spacing: 2px;
  font-weight: bolder;
}
input[type=radio]{
  height:30px;
  width: 20px;
}


tr:not(:first-child):hover{
   background: rgba(156, 154, 154, 0.4);
   cursor: pointer;
}
.posting-outline
{
  background: rgba(156, 154, 154, 0.4);
}
h5
{
  font-family: 'Poppins', sans-serif;
  font-weight: bolder;
}
#options>option:hover
{
    background-color: none;
    color:rgb(245, 46, 46);
    transform: scale(0.9,0.9);

}

/* #gallerycontent img {
  display: block;
  width: 200px;
  height: 200px;
}

#gallerycontent .col-md-3
{
  position: relative;
  width: 50%;
}
 
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 1s ease;
  background-color: #008CBA;
}

.imgoverlay:hover  .overlay
{
  opacity: 1;
}

.overlay-text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
} */
